<div class="login-page" [ngClass]="{dark: themeService.darkMode}">

    <div class="login-card">
        <div class="theme-toggle">

            <button (click)="themeService.toggleTheme()">

                {{ themeService.darkMode? '☀️ Light' : '🌙 Dark' }}

            </button>

        </div>
        <h1>AI Interview Assistant</h1>

        <p class="subtitle">
            Practice interviews with AI
        </p>

        <input type="text" placeholder="Username" [(ngModel)]="username">

        <!-- <input type="password" placeholder="Password" [(ngModel)]="password" (keydown.enter)="login()"> -->
        <div class="password-container">

            <input [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="password"
                (keydown.enter)="login()" placeholder="Password">

            <span class="eye-icon" (click)="showPassword = !showPassword">
                {{ showPassword ? '🙈' : '👁️' }}
            </span>

        </div>

        <button (click)="login()">
            Login
        </button>

        <div class="register-link">

            Don't have an account?

            <span routerLink="/register">

                Register

            </span>

        </div>

        <div *ngIf="error" class="error">

            {{ error }}

        </div>

    </div>

</div>